<ion-header>
  <ion-toolbar>
    <ion-title>
      About
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="About">
      <ion-card-header>
        <ion-card-title>About Us</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>F. Derek Roman</p>
      </ion-card-content>
      <ion-card-content>
        <p>Student ID: froman1</p>
      </ion-card-content>
      <ion-card-content>
        <p>GitHub Profile Name:   CodeNamor</p>
      </ion-card-content>
    </ion-card>
</ion-content>
