<ion-header>
  <ion-toolbar>
    <ion-title>
      Groceries
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-card class="Groceries List View">
      <ion-img src="/assets/market.jpg"></ion-img>
      <ion-card-header>
        <ion-card-title>Welcome to Groceries</ion-card-title>
      </ion-card-header>
    </ion-card>
    <ion-list lines="bottom">
      <ion-list-header>
        <ion-label>Items to get: </ion-label>
      </ion-list-header>
    <h3 text-center *ngIf="loadItem().length === 0">
      No items on list!
    </h3>
    <ion-item-sliding *ngFor="let item of loadItem(); let i = index">
      <ion-item>
        <ion-label>{{item.name}}</ion-label>
        <p>{{item.quantity}}</p>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="editItem(item, i)" color="primary">
          <ion-icon name="create"></ion-icon>
          Edit
        </ion-item-option>
          <ion-item-option (click)="shareItem(item, i)" color="light">
          <ion-icon name="Share"></ion-icon>
          Share
        </ion-item-option>
        <ion-item-option (click)="removeItem(item, i)" color="secondary">
          <ion-icon name="trash"></ion-icon>
        Delete</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
</ion-list>
<ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addItem()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
